:root {
    --axis-color: #f5f5dc;
    --brand-container: #000;
    --brand-container-text: #ffffff;
    --brand-text: #ffffff;
    --button-primary: #000;
    --button-primary-font: #ffffff;
    --button-secondary: #775253;
    --button-secondary-font: #ffffff;
    --card-header: #ffffff;
    --card-header-background: #000;
    --checkbox-color: #000;
    --error-message-background: #f8d7da;
    --error-message: #842029;
    --footer-link: #0d6efd;
    --footer-link-hover: #0d6efd;
    --form-range-bg: #000;
    --highlight-warn-background: #fff3cd;
    --highlight-warn: #664d03;
    --image-info-background: #000;
    --image-info: #ffffff;
    --label: #351431;
    --label-font: #ffffff;
    --leftnav-dropdown-background: #394247;
    --leftnav-background: #000;
    --leftnav-header-background: #1a2226;
    --leftnav-header: #4b646f;
    --links: #0d6efd;
    --links-hover: #0d6efd;
    --main-header-background: #000;
    --main-header-font: #000;
    --main-header-link: #ffffff;
    --main-header-login-background: #000;
    --main-header-login-text: #ffffff;
    --main-image: url('https://freesvg.org/img/Placeholder.png');
    --main-navbar-background: #1a2226;
    --page-item-active-link-background: #0a0e86;
    --page-item-active-link: #ffffff;
    --page-item-link-background: #ffffff;
    --page-item-link: #0a0e86;
    --pagination-background: #0a0e86;
    --pagination-border-color: #ffffff;
    --plot-items: #d1d3c4;
    --powerpoint-sortable: #f6f7d5;
    --row-selection: #775253;
    --sidebar-link-active: #ffffff;
    --tablink: #0a0e86;
    --thead-background: #000;
    --thead-font: #ffffff;
    --thead-font-link: #fff
}
