:root {
    --row-selection: #775253;
    --error-message-background: #f8d7da;
    --error-message: #842029;
    --main-navbar-background: #775253;
    --links: #775253;
    --links-hover: #775253;
    --form-range-bg: #000000;
    --pagination-background: #775253;
    --pagination-border-color: #122b40;
    --button-primary: #351431;
    --button-primary-font: #ffffff;
    --button-secondary: #775253;
    --button-secondary-font: #ffffff;
    --label: #204d74;
    --label-font: #ffffff;
    --brand-container: #775253;
    --brand-container-text: rgba(255,255,255,.8);
    --brand-text: rgba(255,255,255,.8);
    --sidebar-link-active: #ffffff;
    --main-header-background: #775253;
    --main-header-font: #ffffff;
    --main-header-link: #ffffff;
    --main-header-login-background: #000000;
    --main-header-login-text: #ffffff;
    --tablink: #0a0e86;
    --page-item-active-link-background: #351431;
    --page-item-active-link: #ffffff;
    --page-item-link-background: #ffffff;
    --page-item-link: #351431;
    --footer-link: #775253;
    --footer-link-hover: #775253;
    --card-header: #ffffff;
    --card-header-background: #775253;
    --thead-background: #775253;
    --thead-font: #ffffff;
    --thead-font-link: #ffffff;
    --leftnav-dropdown-background: #394247;
    --leftnav-background: #343a40;
    --leftnav-header-background: unset;
    --leftnav-header: var(--lte-sidebar-dark-header-color);
    --image-info-background: #000000;
    --image-info: #ffffff;
    --plot-items: #D1D3C4;
    --axis-color: #F5F5DC;
    --powerpoint-sortable: #f6f7d5;
    --highlight-warn-background: #fff3cd;
    --highlight-warn: #664d03;
    --main-image: url($IMG_REPLACE);
}